<div class="">
    <nav>
        <a href="/" class="left">Home</a>
        <a href="register">Registration</a>
        <a href="login">Login</a>
        <a href="library">Library</a>
        <!-- <a href="allrequests">all requests</a> -->
    </nav>
</div>