<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('../views/partials/nav.ejs') %>
    <div class="landingpage">
        <div class="imgBx">
            <img src="https://wallpaperboat.com/wp-content/uploads/2020/11/13/60306/library-10.jpg" alt="">
        </div>
        <div class="welcome">
            <h1>Welcome to Stony Hill Primary School</h1>

            <% 
                if(my_session.loggedin == true){
            %> 
                    <h3 class="l_txt" >Welcome <%= my_session.first_Nm %></h3>
                    <h3><a href="logout" class="l_out">Logout</a></h3>
            <% 
                } else {
            %> 
                    <span>
                        <a href="login"> Login </a> or <a href="register">Register</a>
                    </span>
            <%
                }
            %>
        </div>
    </div>

</body>
</html>